.rojo {
    border-right: 5px solid red;
  }
  
  .verde {
    border-right: 5px solid green;
  }
  
  .amarillo {
    border-right: 5px solid yellow;
  }

  #subs ul {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
    li {
      list-style-type: none;
      display: inline;
      padding-right: 5px;
      color: gray;
    }
  
    li:last-child {
      strong {
        display: none;
      }
    }
  }


  @media screen and (max-width: 767px) {
  a {
      display: flex;
      text-align: center;
      height: 30px;
      flex-flow: row wrap;
      flex-direction: row-reverse;
  
      img,
      div,
      #categoria {
        display: none;
      }
    }
  }
  
  
 