<div class="holder" *ngIf="show">
    <div class="store-card">
        <div class="container">
            <!-- Store info -->
            <div class="store-info">
                <div class="image">
                    <img data-id="logo.referencia" src={{tienda.host}} alt="No existe imagen de la tienda" />
                </div>
                <div class="detail">
                    <h2 class="name" data-id="nombreTienda">{{tienda.nombreTienda}}</h2>
                    <div class="category"><strong data-id="categoria.nombre">{{tienda.categoria.nombre}}</strong></div>
                    <div class="ranking" data-id="calificacion">{{tienda.calificacion}}</div>
                </div>

                <!-- <button class="share-btn fake-control">Compartir</button> -->
            </div>

            <div class="store-details">
                <div class="detail">
                    <div class="icon">
                        <img src="../../../assets/images/icon-location.svg" alt="Icono Pin" />
                    </div>
                    <div class="content">
                        <address data-id="direccion">Av. Insurgentes 2345, Tlalpan, Ciudad de México</address>
                    </div>
                </div>
                <div class="detail">
                    <div class="icon">
                        <img src="../../../assets/images/icon-clock.svg" alt="Icono Pin" />
                    </div>
                    <div class="content">
                        <div class="collapsable" data-id="horario.disponibilidad">
                            <div class="collapsable__head" (click)="hora()">
                                <div><b>Horario </b>
                                    <span [ngClass]="{'color-green': open==true, 'color-red': open==false}">{{openTitle}}</span>
                                    <img [ngClass]="{'abajo': horario==true, 'arriba': horario==false}"
                                        class="collapsable__head pin" src="../../../assets/images/icon-chevron-down.svg"
                                        alt="Icono Pin" />
                                </div>

                            </div>
                            <div class="collapsable__content" *ngIf="horario">
                                <div class="schedule" data-id="horario.dias">
                                    <div *ngIf="!tienda.horario.disponibilidad"><span>Lunes </span><span>8:00 - 16:00</span></div>



                                    <div *ngIf="tienda.horario.disponibilidad"><span class="siempre">Siempre disponible </span></div>
                                    <!-- <div><span>Martes </span><span>11:00 - 12:00, 13:00 - 17:00</span></div>
                                    <div><span>Miércoles </span><span>8:00 - 16:00</span></div>
                                    <div><span>Jueves </span><span>8:00 - 16:00</span></div>
                                    <div><span>Viernes </span><span>8:00 - 16:00</span></div>
                                    <div><span>Sábado </span><span>8:00 - 16:00</span></div>
                                    <div><span>Domingo </span><span>Cerrado</span></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Store tags -->
            <div class="store-tags">
                <ul data-id="categoria.subcategorias">
                    <li *ngFor="let sub of tienda.categoria.subcategorias">{{sub.nombre}}</li>
                </ul>
                <button class="detail-btn fake-control">Detalle del negocio</button>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Product list -->
        <div class="product-list" data-id="productos">
        </div>
    </div>

    <button class="chat-btn fake-control">Enviar un mensaje</button>
</div>