@font-face {
  font-family: "WebSymbolsRegular";
  src: url("./assets/fonts/websymbols-regular-webfont.eot");
  src: url("./assets/fonts/websymbols-regular-webfont.eot") format("embedded-opentype"), 
  url("./assets/fonts/websymbols-regular-webfont.woff") format("woff"),
  url("./assets/fonts/websymbols-regular-webfont.ttf") format("truetype"),
  url("./assets/fonts/websymbols-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 500px;
  width: 500px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  // background-color: #1976d2;
  background: url(./assets/images/header-bg.svg);
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}



.gear,
.icon {
  font-family: "WebSymbolsRegular";
}



.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1003;
  background: #5DC137;
  overflow: hidden;
  /* opacity: .9; */
}

.spinner div:first-child {
  background-color: brown;
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
}

.spin {
  width: 100% !important;
}




img#rocket {
  width: 70px;
  position: absolute;
  left: -18px;
  top: -10px;

  // animation-name: rotate-gear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


img#rocketNav {
  animation-name: rotate-gear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 50px;
}

@keyframes rotate-gear {
  from {
      transform: rotateZ(0deg);
  }
  to {
      transform: rotateZ(360deg);
  }
}

img#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}








// a span {
//   color: black;
// }

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card{
    width: 540px;
  }
  img#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }

  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px auto;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}




@media screen and (max-width: 575px) {
  .card{
    width: 358px;
  }
  img#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}